.logo-container {
    width: 400px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;

    .solid-logo {
        width: 500px;
        height: 680px;
        opacity: 0.5;
        border-radius: 10em;
    }
}

@media(max-width: 768px) {
    .logo-container {
        visibility: hidden;
    }
}