.logo-container1 {
    width: 600px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;

    .solid-logo1 {
        width: 600px;
        height: 650px;
        border-radius: 10em;
        opacity: 0.6;
    }
}

@media(max-width: 768px) {
    .logo-container1 {
        visibility: hidden;
    }
}