.image-section {
    margin: 50px;
    padding: 20px;
    border: 1px solid white;
    height: 85%;
    border-radius: 20px;
    background-color: #dcdcdc;
    opacity: 0.05;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
